<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="../css/products/product-description.css">
    <title>Home</title>
</head>
<body>
    <%- include('../partials/header') %> 

    <section class="nav-vehiculos">
        <article>
            <h3><a href="../home">Home</a> / <a href="../products">Nuestros vehiculos</a> / <a href="<%= mostrarProducto.id %>"><%= mostrarProducto.marca + " " + mostrarProducto.modelo %></a></h3>
        </article>
    </section>
    <section class="main">
        
        <%- include('./partials/productDescription') %> 
        
        
        <%- include('../partials/msjPosicionAbsoluta') %> 
    </section>
    

    <!-- Footer -->
    <%- include('../partials/footer') %> 
</body>
</html>